fastapi
sqlalchemy
uvicorn
pydantic_settings
pydantic
boto3
python-multipart
code2flow
openpyxl
psycopg2-binary
asyncpg
alembic
playwright
langgraph
langchain-openai
langchain-anthropic
openai
anthropic
pillow
beautifulsoup4

